{% if results is not empty %}
{% for data in results %}
<link rel="stylesheet" href="/ace/css/aimei-operation.css" />
<div class="print-wrap">
	<header>
		<h1>淘世界发货清单</h1>
		<time>{{ "now"|date('Y-m-d')}}</time>
	</header>
	<table class="table">
		<thead>
			<tr>
				<th class="express-num">快递单号</th>
				<th class="order-num">订单号</th>
				<th class="user-name">收件人</th>
				<th class="address">收件地址</th>
			</tr>
		</thead>
		<tbody>
			{% for d in data %}
			<tr>
				<td>{{ d.orderInfo.0.logistic_no }}</td>
				<td>{% for order in d.orderInfo %} 
                        {% if loop.index <= 8 %}
                        	{{ order.order_id }}
                    	{% endif %}
                     	{% if loop.index <= 8 %}
                                      /
                  		{% endif %}

                     {% endfor %}
                     {% if d.orderInfo|count > 8 %}
                     	...
                     {% endif %}
                 </td>
				<td>{{ d.orderInfo.0.orders.name }}</td>
				<td>{{ d.orderInfo.0.orders.province }}，{{ d.orderInfo.0.orders.city }}，{{ d.orderInfo.0.orders.addr }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<footer>
		<span>发货时间:___________</span><span>接收人:___________</span><span>发货人:___________</span>
	</footer>
</div>
{% endfor %}
{% else %}
请先选择快递公司和发件时间
{% endif %}
{% block page_scripts %}
	<script language="javascript">
window.print();
</script>
{% endblock %}