{% set menu_name = "managers" %}
{% set sidebar_name = "角色列表" %}
{% extends "@app/views/layouts/header.twig" %}
  {% block content %}
      <!-- Page heading -->
      <div class="page-head">
        <h2 class="pull-left"><i class="icon-file-alt"></i> AuthAssign</h2>
        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="/"><i class="icon-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="/manager/admin" class="bread-current">AuthAssign</a>
        </div>
    {% if show_error is not empty %}
        <div class="alert alert-error message">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <strong>{{ show_error }}</strong>
        </div>
    {% endif %}
        <div class="clearfix"></div>
        <h4>创建新角色</h4>
        {% set form = activeform.begin({'id':'create-form','layout':'horizontal','fieldConfig':{'horizontalCssClasses':{'wrapper':'col-lg-8'} } }) %}    
        {{ form.field(model,'name',{inputOptions:{'class':'form-control'}}).label(null,{'class':'control-label col-lg-2'})|raw}} 
            {% if isNew == true %}
                {{ form.field(model,'type').dropDownList({'1':'Role'}).label(null,{"class":'col-lg-2 control-label'})|raw }}
            {% else %}
                {{ form.field(model,'type').dropDownList({'1':'Role'},{'disabled':'disabled'}).label(null,{"class":'control-label col-lg-2'})|raw }}
                <input type="hidden" name="AuthItem[description]" value="{{ model.description }}" />
            {% endif %}
            <div class="form-group auth-assign-btn">
                    <input type='submit' value='提交' class='btn btn-large btn-primary' /> 
            </div>
        {{ void(form.end()) }}
      </div>
      <!-- Page heading ends -->

      <!-- Matter -->

         <div class="matter">
        <div class="container">
            
          <!-- Table -->

            <div class="row">

              <div class="col-md-12">

                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">Tables</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">
                          {{
    widget('\\yii\\grid\\GridView', {            
            'id':'app-grid', 
            'layout':'\n{items}\n{pager}', 
            'class':'grid-view',
            'dataProvider':model.getAllItems(), 
            'columns':{
                0:'name',
                1:{
                    'attribute':'type',
                    'format':'html',
                    'value':'if($model->type == 1){return "Role";}else{return "Operation";}'|value_callback,
                },
                3:{
                    'class':'\\common\\extensions\\Grid\\backend\\GridActionColumn',
                    'template':'{update} {delete} {assign}',
                    'header':'操作'
                },
}})

}}

                    <div class="widget-foot">
                      <div class="clearfix"></div> 
                    </div>

                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
{% endblock %}