<li id="{{ result.order_id }}" data-id={{ result.order_id }}>
  <img src="{{ result.img }}" alt="">
  <time>{{ result.created_time }}</time>入库人：{{ result.created_user }}              
  <strong>订单号：{{ result.order_id }}</strong>
  <p>{{ result.goods_name }}</p>
  <span>{{ result.sku }}</span>
  <i class="fa fa-trash-o" data-toggle="modal" data-target="#rmOrderModal"><em>移出</em></i>
</li>
{% if same_orders is defined %}
  {% for k,same_order in same_orders %}
    <li id="{{ same_order.order_id }}" data-id={{ same_order.order_id }}>
      <img src="{{ same_order.img }}" alt="">
      <time>{{ same_order.created_time }}</time>入库人：{{ same_order.created_user }}
      <strong>订单号：{{ same_order.order_id }}</strong>
      <p>{{ same_order.goods_name }}</p>
      <span>{{ same_order.sku }}</span>
      <i class="fa fa-trash-o" data-toggle="modal" data-target="#rmOrderModal"><em>移出</em></i>
    </li>
  {% endfor %}
{% endif %}