{% set sidebar_name = "专属物料" %}
{% set menu_name = "material" %}
{% extends "@app/views/layouts/main.twig" %}
{% block content %}
  {% include '@app/views/layouts/base_with_sidebar.twig' %}
  <div class="main">
        <div class="order_search">
        {% if ownersData is not empty %}
          <form>
            <ul class="clearfix">
                <li>
                    <label>关键字：</label>
                    <input type="text" name="material_id" value="{% if params.material_id is defined %}{{ params.material_id }}{% endif %}" class="search_input" placeholder="输入关键字进行搜索" />
                </li>
                <li>
                    <label>选择仓库：</label>
                    <select name="storeroom_id">
                        <option value="">请选择仓库</option>
                        {% for storeroom in storerooms %}
                        <option {% if params.storeroom_id is defined and params.storeroom_id == storeroom.id %}selected="selected"{% endif %} value="{{ storeroom.id }}">{{ storeroom.name }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <label>所属人：</label>
                    <select name="owner_id">
                        <option value="">请选择所属人</option>
                        {% for owner in ownersData %}
                        <option {% if params.owner_id is defined and params.owner_id == owner.owners.id %}selected="selected"{% endif %} value="{{ owner.owners.id }}">{{ owner.owners.english_name }}</option>
                        {% endfor %}
                        {# <option value="1">周星星</option>
                        <option value="1">张学友</option> #}
                    </select>
                </li>
                <li>
                    <label>产&ensp;品&ensp;线：</label>
                    <input type="text" name="channel" value="{% if params.channel is defined %}{{ params.channel }}{% endif %}" class="search_input" placeholder="" />
                </li>
            </ul>
            
            <input type="submit" value="搜索" class="search_btn" />
          </form>
        {% endif %}
        </div>
        <div class="material_cart clearfix">
            <a href="javascript:void(0);" class="cart_btn" onclick="materiel_cart();"></a>
            <span class="cart_success">已成功加入购物车！</span>
        </div>
        <div class="materiel_box">
                <table id="material_list" class="materiel_table">
                    <thead>
                        <tr>
                            <td>选择</td>
                            <td>物料编号</td>
                            <td>物料名称</td>
                            {# <td>分享</td> #}
                            <td>属性</td>
                            <td>产品线</td>
                            <td>入库时间</td>
                            <td>库房地址</td>
                            <td>所属人</td>
                            <td>可用库存数</td>
                            <td>计划数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,result in results %}
                        <tr>
                            <td><input type="checkbox" name="" value="{{ key }}" data-id="{{ result.materials.id }}" data-storeroom="{{ result.storeroom_id }}" data-stock="{{ result.stockTotals.total - result.stockTotals.lock_num }}" /></td>
                            <td>{{ result.materials.code }}</td>
                            <td><a href="/material/view?id={{ result.material_id }}&sid={{ result.storeroom_id }}" class="blue">{{ result.materials.name }}</a></td>
                            {# <td>
                                {% if result.owner_id == App.user.id %}
                                <a href="javascript:void(0);" onclick="shareTo({{ result.material_id }},{{ result.storeroom_id }});">点击分享</a>
                                {% else %}

                                {% endif %}
                            </td> #}
                            <td>{{ result.materials.getMyPropertyName() }}</td>
                            <td>{{ result.owners.producttwolines.name }}</td>
                            <td>{{ result.created }}</td>
                            <td>{{ result.storerooms.name }}</td>
                            <td>{{ result.owners.english_name }}
                                {% if result.owner_id == App.user.id %}
                                <a href="javascript:void(0);" class="blue" onclick="shareTo({{ result.material_id }},{{ result.storeroom_id }});">分享</a>
                                {% else %}

                                {% endif %}
                            </td>
                            <td>{{ result.stockTotals.total - result.stockTotals.lock_num }}</td>
                            <td><input type="text" value="" name="" class="m_amount" id="amount_{{ key }}" /></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>      
            </div>
            <div class="pages clearfix">
                <div class="fr">
                    {{ widget('\\yii\\widgets\\LinkPager',{'pagination':pages}) }}
                </div>
            </div>
      </div>
      <script type='text/javascript' src='/js/layer.min.js'></script>
      <script type='text/javascript'>
            $(function(){
                $(".m_amount").bind('keyup',function(){
                    var cur_qty = parseInt($(this).val());
                    if(!/^[1-9][0-9]*$/.test(cur_qty)){
                        $(this).val("");
                    }
                });

                $("#checkall").live("click",function(){
                    if($(this).attr("checked") != undefined){
                        $(".share_list dd input").attr("checked","checked");
                    }else{
                        $(".share_list dd input").removeAttr("checked");
                    }
                });
            });

            function materiel_cart(){
                var ischeck = $("#material_list input[type=checkbox]:checked").length;
                if(ischeck == 0){
                    alert("请选择物料！");
                    return false;
                }
                var isok = true;
                $.each($("#material_list input[type=checkbox]:checked"),function(i,k){
                    var id = $(this).val();
                    var stock = parseInt($(this).attr("data-stock"));
                    var $amount = $("#amount_"+id);
                    var amount = parseInt($amount.val());
                    if(amount == "" || amount > stock){
                        $amount.addClass('error');
                        isok = false;
                    }
                });
                if(!isok){
                    alert("计划数量输入有误！");
                }else{
                    $(".m_amount").removeClass("error");
                    addCart();
                }
            }

            function addCart(){
                var material_data = [];
                $.each($("#material_list input[type=checkbox]:checked"),function(i,k){
                    var id = $(this).attr("data-id");
                    var sid = $(this).val();
                    var $amount = $("#amount_"+sid);
                    var amount = parseInt($amount.val());
                    var storeroom_id = $(this).attr("data-storeroom");
                    var item = {"material_id":id,"quantity":amount,"storeroom_id":storeroom_id};
                    material_data.push(item);
                });
                var safeCode = $('meta[name=csrf-token]');
                $.ajax({
                    url : "/cart/batchadd",
                    type : "POST",
                    dataType : "json",
                    data : {"items":material_data,"_csrf":safeCode.attr('content')},
                    success : function(json){
                        $(".cart_success").fadeIn();
                        $("#material_list input[type=checkbox]").removeAttr("checked");
                        window.setTimeout(hideTip,3000);
                    }
                });
            }

            function hideTip(){
                $(".cart_success").fadeOut();
            }

            function shareTo(mid,rid){
                var safeCode = $('meta[name=csrf-token]');
                $.ajax({
                    url : "/material/share",
                    type : "POST",
                    dataType : "html",
                    data : {"material_id":mid,"storeroom_id":rid,"_csrf":safeCode.attr('content')},
                    success : function(json){
                        $.layer({
                            type: 1,
                            shade: [0.5, '#000'],
                            area: ['500', '450'],
                            title: '分享',
                            btns: 2,
                            btn: ['确定', '取消'],
                            border: [5, 0.2, '#000'],
                            yes: function(){
                                var userIds = [];
                                $.each($(".share_list dd input:checked"),function(){
                                    userIds.push($(this).val());
                                });
                                $.ajax({
                                    url : "/material/updateshare",
                                    type : "POST",
                                    dataType : "json",
                                    data : {"material_id":mid,"storeroom_id":rid,"user_ids":userIds,"_csrf":safeCode.attr('content')},
                                    success : function(json){
                                        $("#succShare").show();
                                        window.setTimeout("$('#succShare').fadeOut()",2000)
                                    }
                                });
                            },
                            page: {html:json}
                        });
                    }
                });
            }
        </script>
{% endblock %}



