{% set sidebar_name = "专属物料" %}
{% extends "@app/views/layouts/main.twig" %}
{% block body_class %}
{% endblock%}
{% block content %}
<!-- view -->
    <div class="view_wrap">
        <div class="view_box clearfix">
            <div class="view_left">
                <!-- 商品属性 -->
                <div class="content clearfix">
                    <div class="pic">
                        {% for im in material.image %}
                            {% if loop.index == 1%}
                            <img src="{{ im }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="word">
                        <h3>{{ material.name }}</h3>
                        <p>
                            <label>物料编号：</label>
                            <em>{{ material.code }}</em>
                        </p>
                        <p>
                            <label>物料属性：</label>
                            <em>{{ material.getMyPropertyName() }}</em>
                        </p>
                        <p>
                            <label>产品线：</label>
                            <em>{{ material.channel }}</em>
                        </p>
                        <p>
                            <label>数据来源：</label>
                            <em>{{ material.getMyDataSourceName() }}</em>
                        </p>
                        <p>
                            <label>所属人：</label>
                            <em>{% if material.owners is defined %}{{ material.owners.english_name }}{% endif %}</em>
                        </p>
                        <p>
                            <label>PN号：</label>
                            <em>{{ material.pn }}</em>
                        </p>
                        <p>
                            <label>预警数量：</label>
                            <em>
                                {% for st in storerooms%}
                              {% if sid == st.storeroom_id %}
                                {{ st.warning_quantity }}
                                {% endif %}
                              {% endfor %}  
                            </em>
                        </p>
                        <div class="choose">
                            <span id="material_id" class="none">{{ material.id }}</span>
                            <span id="storeroom_id" class="none">{{ sid }}</span>
                            <p>请选择库房</p>
                            <ul>
                                {# <li class="style clearfix">
                                    <span class="dt">选库房：</span>
                                    <div class="dd">
                                        {% for st in storerooms%}
                                        <span class="item" data-id="{{ st.storeroom_id }}" data-stock="{{ st.total }}"><a href="javascript:void(0);">{{ st.storeroom.name }}</a></span>
                                        {% endfor %}
                                    </div>
                                </li> #}
                                
                                <li class="amount clearfix">
                                    <span class="dt">选数量：</span>
                                    <div class="dd">
                                        <div class="widget">
                                            <input class="amount_input" value="1" maxlength="3" type="text">
                                            <div class="crease">
                                                <span class="decrease"></span>
                                                <span class="increase"></span>
                                            </div>
                                            <span class="stock">库存
                                            <i id="mall_stock">
                                                  {% for st in storerooms%}
                                                  {% if sid == st.storeroom_id %}
                                                    {{ st.total - st.lock_num }}
                                                    {% endif %}
                                                  {% endfor %}  
                                            </i></span>
                                            <div class="clear"></div>
                                            <span class="fl error_stock">您所选的物料数量超过库存!</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="cart_submit clearfix">
                            <a href="javascript:void(0);" class="cart_btn" onclick="buyCart();"></a>
                            <span class="cart_tip">已成功加入购物车！</span>
                        </div>
                    </div>
                </div>
                <!-- 商品介绍 -->
                <div class="detail_box">
                    <h3>商品详情</h3>
                    <div class="intro">
                        <p>
                            <label>数据来源:</label>
                            <em>{{ material.getMyDataSourceName() }}</em>
                        </p>
                        <p>
                            <label>送货单位:</label>
                            <em>{% for st in storerooms%}
                                                  {% if sid == st.storeroom_id %}
                                                    {{ st.delivery }}
                                                    {% endif %}
                                                  {% endfor %}</em>
                        </p>
                        <p>
                            <label>规格尺寸:</label>
                            <em>{{ material.size }}</em>
                        </p>
                        <p>
                            <label>包装规格:</label>
                            <em>{{ material.package }}</em>
                        </p>
                        <p>
                            <label>单位重量(g):</label>
                            <em>{{ material.weight }}</em>
                        </p>
                    </div>
                    <div class="views">
                        
                    </div>
                </div>
            </div>

            <div class="view_right">
                <ul class="view_list">
                    {% for im in material.image %}
                    <li><a href="#"><img src="{{ im }}" alt=""></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
 <script type="text/javascript" src="/js/view.js"></script>
{% endblock %}
