{% set sidebar_name = "专属物料" %}
{% extends "@app/views/layouts/main.twig" %}
{% block body_class %}
{% endblock%}
{% block content %}
<!-- view -->
    <div class="view_wrap">
        <div class="view_box clearfix">
            <div class="view_left">
                <!-- 商品属性 -->
                <div class="content clearfix">
                    <div class="pic">
                        {% for im in material.image %}
                            {% if loop.index == 1%}
                            <img src="{{ im }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="word">
                        <h3>{{ material.name }}</h3>
                        <p>
                            <label>物料编号：</label>
                            <em>{{ material.code }}</em>
                        </p>
                        <p>
                            <label>物料属性：</label>
                            <em>{{ material.getMyPropertyName() }}</em>
                        </p>
                        <p>
                            <label>所属人：</label>
                            <em>{% if material.owners is defined %}{{ material.owners.english_name }}{% endif %}</em>
                        </p>
                        <p>
                            <label>入库时间：</label>
                            <em>{{ material.getFirstStockTime(sid) }}</em>
                        </p>
                        <p>
                            <label>使用期限：</label>
                            <em>{{ material.expire }}</em>
                        </p>
                        <p>
                            <label>库房位置：</label>
                            <em>{{ storeroom.name }}</em>
                        </p>
                        <p>
                            <label>库存数量：</label>
                            <em>
                                {{ stocktotal.total - stocktotal.lock_num }}
                            </em>
                        </p>
                        <p>
                            <label>预警数量：</label>
                            <em>{{ stocktotal.warning_quantity }}</em>
                        </p>
                        <p>
                            <label>分享：</label>
                            <em>{% if material.owner_id == App.user.id %}
                                {% if material.checkShare(App.user.id,sid) %}
                                已分享
                                {% else %}
                                未分享
                                {% endif %}
                                <a href="javascript:void(0);" class="blue" onclick="shareTo({{ material.id }},{{ sid }});">更改</a>
                                {% else %}{% endif %}</em>
                        </p>
                        <p>
                            <label>部门：</label>
                            <em>{% if owner.departments is defined %}{{ owner.departments.name }}{% endif %}</em>
                        </p>
                        <p>
                            <label>组别：</label>
                            <em>{% if owner.categorys is defined %}{{ owner.categorys.name }}{% endif %}</em>
                        </p>
                        <p>
                            <label>产品线一级：</label>
                            <em>{% if owner.productlines is defined %}{{ owner.productlines.name }}{% endif %}</em>
                        </p>
                        <p>
                            <label>产品线二级：</label>
                            <em>{% if owner.producttwolines is defined %}{{ owner.producttwolines.name }}{% endif %}</em>
                        </p>
                        <p>
                            <label>PN号：</label>
                            <em>{{ material.pn }}</em>
                        </p>
                        <p>
                            <label>备注：</label>
                            <em></em>
                        </p>
                        <div class="choose">
                            <span id="material_id" class="none">{{ material.id }}</span>
                            <span id="storeroom_id" class="none">{{ sid }}</span>
                            <p>请选择库房</p>
                            <ul>
                                {# <li class="style clearfix">
                                    <span class="dt">选库房：</span>
                                    <div class="dd">
                                        {% for st in storerooms%}
                                        <span class="item" data-id="{{ st.storeroom_id }}" data-stock="{{ st.total }}"><a href="javascript:void(0);">{{ st.storeroom.name }}</a></span>
                                        {% endfor %}
                                    </div>
                                </li> #}
                                
                                <li class="amount clearfix">
                                    <span class="dt">选数量：</span>
                                    <div class="dd">
                                        <div class="widget">
                                            <input class="amount_input" value="1" maxlength="3" type="text">
                                            <div class="crease">
                                                <span class="decrease"></span>
                                                <span class="increase"></span>
                                            </div>
                                            <span class="stock">库存
                                            <i id="mall_stock">
                                                    {{ stocktotal.total - stocktotal.lock_num }}
                                            </i></span>
                                            <div class="clear"></div>
                                            <span class="fl error_stock">您所选的物料数量超过库存!</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="cart_submit clearfix">
                            <a href="javascript:void(0);" class="cart_btn" onclick="buyCart();"></a>
                            <span class="cart_tip">已成功加入购物车！</span>
                        </div>
                    </div>
                </div>
                <!-- 商品介绍 -->
                <div class="detail_box">
                    <h3>商品详情</h3>
                    <div class="intro">
                        <p>
                            <label>物料规格:</label>
                            <em>{{ material.size }}</em>
                        </p>
                        <p>
                            <label>计量规格:</label>
                            <em>{{ material.jiliang }}</em>
                        </p>
                        <p>
                            <label>包装规格:</label>
                            <em>{{ material.package }}</em>
                        </p>
                        <p>
                            <label>单位重量(g):</label>
                            <em>{{ material.weight }}</em>
                        </p>
                        <p>
                            <label>数据来源:</label>
                            <em>{{ material.getMyDataSourceName() }}</em>
                        </p>
                        <p>
                            <label>送货单位:</label>
                            <em>{% for st in storerooms%}
                              {% if sid == st.storeroom_id %}
                                {{ st.delivery }}
                                {% endif %}
                              {% endfor %}</em>
                        </p>
                        <p>
                            <label>备注:</label>
                            <em></em>
                        </p>
                    </div>
                </div>
                <div class="detail_box" style="padding:10px 0;">
                    <h3>近4月出入库记录</h3>
                    <div class="intro">
                        <table id="material_list" class="materiel_table">
                        <thead>
                            <tr>
                                <td>物料编号</td>
                                <td>物料名称</td>
                                <td>所属人</td>
                                <td>物料类型</td>
                                <td>库房位置</td>
                                <td>入库时间</td>
                                <td>入库数量</td>
                                <td>出库时间</td>
                                <td>出库数量</td>
                                <td>出库至</td>
                                <td>申请人</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,result in stockRecord %}
                            <tr>
                                <td>{{ result.material.code }}</td>
                                <td>{{ result.material.name }}</td>
                                <td>{{ result.owners.english_name }}</td>
                                <td>{{ result.material.getMyPropertyName() }}</td>
                                <td>{{ result.storeroom.name }}</td>
                                <td>{% if result.increase == 0 %}{{ result.stock_time|date('Y-m-d H:i') }}{% else %}{% endif %}</td>
                                <td>{% if result.increase == 0 %}{{ result.actual_quantity }}{% else %}{% endif %}</td>
                                <td>{% if result.increase == 1 %}{{ result.stock_time|date('Y-m-d H:i') }}{% else %}{% endif %}</td>
                                <td>{% if result.increase == 1 %}{{ 0 - result.actual_quantity }}{% else %}{% endif %}</td>
                                <td>{% if result.increase == 1 %}
                                        {% if result.order is defined %}
                                        {% if result.order.to_type == 0 %}
                                        收件人 {{ result.order.to_city }} {{ result.order.contact }}
                                        {% else %}
                                        平台库 {{ result.order.to_city }} {{ result.order.contact }}
                                        {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{% if result.increase == 1 %}
                                    {% if result.order is defined %}
                                    {{ result.order.createuser.english_name }}
                                    {% endif %}
                                {% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                    </div>
                </div>
            </div>

            <div class="view_right">
                <ul class="view_list">
                    {% for im in material.image %}
                    <li><a href="#"><img src="{{ im }}" alt=""></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
 <script type="text/javascript" src="/js/view.js"></script>
 <script type="text/javascript">
        function shareTo(mid,rid){
            var safeCode = $('meta[name=csrf-token]');
            $.ajax({
                url : "/material/share",
                type : "POST",
                dataType : "html",
                data : {"material_id":mid,"storeroom_id":rid,"_csrf":safeCode.attr('content')},
                success : function(json){
                    $.layer({
                        type: 1,
                        shade: [0.5, '#000'],
                        area: ['500', '450'],
                        title: '分享',
                        btns: 2,
                        btn: ['确定', '取消'],
                        border: [5, 0.2, '#000'],
                        yes: function(){
                            var userIds = [];
                            $.each($(".share_list dd input:checked"),function(){
                                userIds.push($(this).val());
                            });
                            $.ajax({
                                url : "/material/updateshare",
                                type : "POST",
                                dataType : "json",
                                data : {"material_id":mid,"storeroom_id":rid,"user_ids":userIds,"_csrf":safeCode.attr('content')},
                                success : function(json){
                                    $("#succShare").show();
                                    window.setTimeout("$('#succShare').fadeOut()",2000)
                                }
                            });
                        },
                        page: {html:json}
                    });
                }
            });
        }
 </script>
{% endblock %}
