{% extends '@view/layouts/base.twig' %}
{% block body %}
   <!-- 提示模态框 modal -->
  <div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="sealBoxTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">提示</h4>
        </div>
        <div class="modal-body">
          <p id="noticeContent">提示内容</p>
        </div>
        <div class="modal-footer">
          <form>
            <button id="noticeConfirm" type="submit" class="btn btn-sm btn-primary" data-dismiss="modal">确定</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <!-- navbar 开始 -->
    <div class="navbar navbar-default navbar-fixed-top" id="navbar">
      <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){};
      </script>
      <!-- /.navbar-container 开始-->
      <div class="navbar-container" id="navbar-container">
        <!-- /.navbar-header left 开始-->
        <div class="navbar-header pull-left">
          <!-- /.navbar-brand 开始 -->
          <a href="#" class="navbar-brand">
            <small>
              <i class="icon-eye-open"></i>
              物流管理后台
            </small>
          </a>
          <!-- /.navbar-brand 结束 -->
        </div>
        <!-- /.navbar-header left 结束-->
        <!-- /.navbar-header right 开始-->
        <div class="navbar-header pull-right userName" role="navigation" id="userName">
          <!-- /.ace-nav 开始-->
          <ul class="nav ace-nav">
            <!-- profile 开始 -->
            <li class="light-blue" id="open">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="/ace/avatars/avatar2.png" alt="Jason's Photo" />
                <span class="user-info">
                  <small>欢迎,</small>
                  {{ App.user.identity.username }}
                </span>

                <i class="icon-caret-down"></i>
              </a>
              <!-- profile-list 开始 -->
              <ul id="dropMenu" class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                  <a href="/manager/reset-password">
                    <i class="icon-cog"></i>
                    修改密码
                  </a>
                </li>

                <li class="divider"></li>

                <li>
                  <a href="/site/logout">
                    <i class="icon-off"></i>
                    退出
                  </a>
                </li>
              </ul><!-- profile-list 结束 -->
            </li><!-- profile 结束 -->
          </ul><!-- /.ace-nav 结束-->
        </div><!-- /.navbar-header right 结束-->
      </div><!-- /.navbar-container 结束-->
    </div>

    <!-- navbar 结束 -->
    <!-- main-container 开始-->
    <div class="main-container" id="main-container">
      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>
      <!-- main-container-inner 开始 -->
      <div class="main-container-inner">
        <!-- 缩小浏览器时的menu -->
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a><!-- 缩小浏览器时的menu -->
        
        <!-- sidebar 开始 -->
        <div class="sidebar sidebar-fixed" id="sidebar">
          <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
          </script>
          <!-- nav-list 开始 -->
          <ul class="nav nav-list">
            {% for menu_k,menu in App.user.getTopMenu() %}
            {% if menu.subs is defined %}
            
            <li class="{% if menu_name == menu_k %}active open{% endif %}">
            
              <a href="#" class="dropdown-toggle">
                <i class="icon-{{ menu.icon }}"></i>
                <span class="menu-text"> {{ menu.name }} </span>

                <b class="arrow icon-angle-down"></b>
              </a>
              
              <ul class="submenu">
                {% for key,value in App.user.getSubMenu(menu_k) %}
                    <li {% if sidebar_name == value.name %}class="active"{% endif %}>
                      <a href="/{{ value.route }}">
                        <i class="icon-double-angle-right"></i>{{ value.name }}
                      </a>
                    </li>
                {% endfor %}
              </ul>
            </li><!-- 订单管理 结束 -->
            {% endif %}
            {% endfor %}
          </ul><!-- nav-list 结束 -->
          <!-- icon-double-angle-right 开始 -->
          <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
          </div><!-- icon-double-angle-right 结束 -->

          <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
          </script>

        </div><!-- sidebar 结束 -->
        <!-- main-content 开始 -->
        <div class="main-content">
          <!-- 主体topbar 开始 -->
          {% block content %}
          {% endblock %}
        </div><!-- main-content结束 -->
      </div><!-- main-container-inner 结束 -->
      <!-- 回到顶部 开始 -->
      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
      </a><!-- 回到顶部结束 -->
    </div><!-- main-container 结束-->

{% endblock %}
