<li class="clearfix {% if addr.status == 1 %}selected{% endif %}" id="addr_{{ addr.id }}">
    <input type="radio" name="address" value="{{ addr.id }}" checked="checked" class="hookbox" />
    <label>
        <b>{{ addr.name }}</b>{{ addr.company }} {{ addr.province }} {{ addr.city }} <span id="addrArea">{{ addr.area }}</span> {{ addr.address }}
        <em>{{ addr.phone }}</em>
    </label>
    <span class="edit">
         {% if addr.status == 0 %}<a href="javascript:;" class="del_link apink" data-id="{{ addr.id }}">删除</a>{% endif %}
        <a href="javascript:;" class="edit_link apink" data-id="{{ addr.id }}">编辑</a>
    </span>
</li>
