{% set sidebar_name = "专属物料" %}
{% extends "@app/views/layouts/main.twig" %}
{% block body_class %}
{% endblock%}
{% block content %}
    <link rel="stylesheet" href="/css/autocomplete.css">
	<div class="view_wrap">
        <div class="o_box">
        	{% set form = activeform.begin({'action':'/order/buy','id':'buyForm'}) %}
            {# <form enctype="multipart/form-data" method="post" action="success.html" id="buyForm"> #}
                <div class="buy_list">
                    <div class="dt">1 计划日期</div>
                    <div class="dd">
                        <input type="text" value="" name="Order[send_date]" class="active_input date_input" />
                    </div>
                    <div class="dt">1 送达日期</div>
                    <div class="dd">
                        <input type="text" value="" name="Order[send_date]" class="active_input date_input" />
                    </div>
                    <input type="hidden" value="{{ results.0.info.storeroom_id }}" name="Order[storeroom_id]" />
                    <div class="dt">2 收货人信息</div>
                    <div class="dd">
                        <ul class="type_tab clearfix">
                            <li class="cur">平台库</li>
                            <li>收件人</li>
                        </ul>
                        <div class="add_content">
                            <select>
                                <option>请选择平台库</option>
                                <option>西安平台库</option>
                                <option>天津平台库</option>
                            </select>
                        </div>
                        <div class="add_content none">
                            <p>单位名称：<input type="text" value="" id="autocompleteName" name="Order[send_date]" class="active_input" /></p>
                            <input type="hidden" value="" name="" />
                            <ul class="addr_list" id="address_area">
                                {% for addr in address %}
                                <li class="clearfix selected" id="addr_{{ addr.id }}">
                                    <label>
                                        <b>{{ addr.name }}</b>{{ addr.province }} {{ addr.city }} {{ addr.area }} {{ addr.address }}
                                        <em>{{ addr.phone }}</em>
                                    </label>
                                    <span class="edit">
                                        {% if addr.status == 0 %}<a href="javascript:;" class="del_link apink" data-id="{{ addr.id }}">删除</a>{% endif %}
                                        <a href="javascript:;" class="edit_link apink" data-id="{{ addr.id }}">编辑</a>
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                            <ul class="addr_list">
                                <li class="clearfix addnew">
                                    <a href="javascript:;">+新收货地址</a>
                                </li>
                            </ul>
                        </div>
                      
                    </div>
                    <div class="dt">3 到货需求</div>
                    <div class="dd">
                        <ul id="delivery_time" class="delivery_time clearfix">
                            <li class="selected">
                                <label><input type="radio" class="hookbox" checked="checked" value="1" name="Order[transport_type]">24小时</label>
                            </li>
                            <li>
                                <label><input type="radio" class="hookbox" value="3" name="Order[transport_type]">3天门到门</label>
                            </li>
                            <li>
                                <label><input type="radio" class="hookbox" value="2" name="Order[transport_type]">5天门到门</label>
                            </li>
                            {# <li>
                                <label><input type="radio" class="hookbox" value="6" name="Order[transport_type]">4小时</label>
                            </li> #}
                             <li>
                                <label><input type="radio" class="hookbox" value="4" name="Order[transport_type]">包车服务</label>
                            </li>
                            <li>
                                <label><input type="radio" class="hookbox" value="5" name="Order[transport_type]">其他</label>
                            </li>
                        </ul>
                    </div>
                    <div class="dt">3 是否保险</div>
                    <div class="dd">
                        <ul id="safe_label" class="delivery_time clearfix">
                            <li data-show="1">
                                <label><input type="radio" class="hookbox" value="1" name="Order[safe]">是</label>
                            </li>
                            <li class="selected" data-show="0">
                                <label><input type="radio" class="hookbox" checked="checked" value="3" name="Order[safe]">否</label>
                            </li>
                        </ul>
                        <input type="text" placeholder="输入保险金额" name="" class="memo_input none" id="safe_price" />
                    </div>
                    <div class="dt">4 物料信息</div>
                    <div class="dd">
                        <div class="buy_goods">
                            <div class="cart_tt clearfix">
                                <span class="goods">物料</span>
                                <span class="room">库房</span>
                                <span class="qty">数量</span>
                            </div>
                            <ul>
                            	{% for result in results %}
                            	<input type="hidden" name="Carts[{{ result.cart_id }}][id]" value="{{ result.cart_id }}" />
                            	<input type="hidden" name="Carts[{{ result.cart_id }}][quantity]" value="{{ result.quantity }}" />
                                <li class="clearfix" id="cart_294" data-stock="4" data-storeroom-id="1" data-materiel-id="1">
                                    <div class="goods">
                                        <a href="#" class="pic">
                                        	{% for im in result.info.material.image %}
					                            {% if loop.index == 1 %}
					                            <img src="{{ im }}">
					                            {% endif %}
					                        {% endfor %}
                                        </a>
                                        <div class="name">
                                            <p><a href="#">{{ result.info.material.name }}</a></p>
                                            <div class="property">
                                                <span>{{ result.info.material.getMyPropertyName() }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="room">{{ result.info.storeroom.name }}</span>
                                    <span class="qty">×{{ result.quantity }}</span>
                                </li>
                            	{% endfor %}
                            	<input type="hidden" name="Order[owner_id]" value="{{ App.user.id }}" />
                            </ul>
                        </div>

                        <input type="text" placeholder="输入用途" name="" class="memo_input" />
                        <input type="text" placeholder="输入备注信息" name="Order[info]" class="memo_input" />
                    </div>

                    <div class="cart_submit clearfix">
                        <a href="javascript:;" class="buy_btn">确认订单</a>
                        <div class="amount">共<span class="red" id="selectedCount">2</span> 件商品</div>
                    </div>
                    
                </div>
            {{ void(form.end()) }}
        </div>
    </div>
    <script type='text/javascript' src='/js/layer.min.js'></script>
    <script type='text/javascript' src='/js/autocomplete.js'></script>
    <script type='text/javascript' src='/js/buy.js'></script>
    <script type='text/javascript' src='/js/province.js'></script>
    <script type='text/javascript' src='/js/city.js'></script>
    <script type='text/javascript' src="/js/district.js"></script>
    <script type='text/javascript' src='/js/date_input.js'></script>
    <script type="text/javascript">
        $(function(){
            $('.date_input').date_input();
        })
    </script>
    <script type="text/javascript">
    $(function(){
        var data = [{text:'Link A', url:'/page1'}, {text:'Link B', url: '/page2'} ]; 
        $("#autocompleteName").autocomplete(data,{ 
            formatItem: function(item) { 
                return item.text; 
            } 
        }).result(function(event,item) { 
            $("#company_box").html(item.text);
        });
    })
    </script>
{% endblock %}