<div class="modal-dialog">
  <form action="/settlement/do" method="post">
    <input type="hidden" value="{{ App.request.getCsrfToken() }}" name="{{ App.request.csrfParam }}">
    <input type="hidden" name="id" value="{{ id }}" />
    <input type="hidden" name="buyer_id" value="{{ buyer_id }}" />
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="accountInfoModalLabel">结算信息</h4>
    </div>
    <div class="modal-body">
      <ul>
        {% if method == '支付宝' %}
          {% for account in buyerInfo.buyerAccounts %}
            {% if account.type == 'alipay' %}
            <li><span>帐号 : </span>{{ account.no }}</li>
            <li><span>收款人姓名 : </span>{{ account.name }}</li>
            {% endif %}
          {% endfor %}
        {% elseif method == '国内银行' %}
        {% for account in buyerInfo.buyerAccounts %}
          {% if account.type == 'local' %}
      	<li>国内银行</li>
      	<li>银行名称: {{ buyerInfo.buyerAccounts.bank }}</li>
      	<li>账号: <em id="bankbuyerInfo.buyerAccounts">{{ buyerInfo.buyerAccounts.no }}</em>
          {# <a id="copybuyerInfo.buyerAccountsBtn">复制</a> #}
        </li>
      	<li>收款人姓名: <em id="buyerName">{{ buyerInfo.buyerAccounts.name }}</em>
          {# <a id="copyNameBtn">复制</a> #}
        </li>
        {% endif %}
        {% endfor %}
      	{# <li>分行: 北京和平里分行</li> #}
        {% else %}
        {% for account in buyerInfo.buyerAccounts %}
          {% if account.type == 'foreign' %}
        <li>收款账号 : {{ buyerInfo.buyerAccounts.no }}</li>
        <li>开户行名称 : {{ buyerInfo.buyerAccounts.bank }}</li>
        <li>收款人英文姓名 : {{ buyerInfo.buyerAccounts.name }}</li>
        <li>收款人联系地址 : {{ buyerInfo.buyerAccounts.address }}</li>
        <li>开户行所在国家 : {{ buyerInfo.buyerAccounts.country }}</li>
        <li>开户行所在城市 : {{ buyerInfo.buyerAccounts.city }}</li>
        <li>Swift/BIC代码 : {{ buyerInfo.buyerAccounts.swift }}</li>
        {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
      {# <p id="copySuccess" class="copy-success">复制成功</p> #}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
      <button type="submit" class="btn btn-primary btn-sm">确定结算</button>
    </div>
  </div>
</form>
</div>