{% set menu_name = "balance" %}
{% set sidebar_name = "历史结算" %}
{% extends '@view/layouts/main.twig' %}
{% block content %}
<link rel="stylesheet" href="/ace/css/bootstrap-datetimepicker.min.css">
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>
	<!-- 面包屑 开始 -->
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">财务管理</a>
		</li>

		<li class="active">买手结算</li>
	</ul><!-- 面包屑 结束 -->
</div><!-- 主体topbar 开始 -->
<!-- page-content 开始 -->
<div class="page-content">
	<!-- row 开始 -->
	<div class="row">
		<!-- col 开始 -->
		<div class="col-xs-12">
			<div class="search-area col-sm-12">
				<!-- 搜索条件 开始 -->
				<div class="search-box">
					<!-- 时间搜索 开始 -->
					<div class="time-search">
						<div class="space-10"></div>
						<div class="order-time inline-block">
							<form method="get">
							<div class="from">
								<strong>结算时间</strong>
								<div class="input-append date form_datetime inline-block">
							    	<input size="16" type="text" name="begin_time" value="{% if params.begin_time is defined %}{{ params.begin_time }}{% endif %}" readonly><span class="add-on"><i class="icon-th"></i></span>
								</div>
							</div>
							<div class="to">
								<strong>to</strong>
								<div class="input-append date form_datetime inline-block">
							    	<input size="16" type="text" name="end_time" value="{% if params.end_time is defined %}{{ params.end_time }}{% endif %}" readonly><span class="add-on"><i class="icon-th"></i></span>
								</div>
							</div>
							<button type="submit" class="btn btn-xs btn-primary">筛选</button>
						</form>
						</div>
					</div>
					<!-- 时间搜索 结束 -->
				</div>
				<!-- 搜索结果 开始 -->
				<div class="search-results">
					<div class="space-10"></div>
					<div class="results-tab tabbable">
						<div class="tab-content">
							<div id="home" class="tab-pane in active">
								<!-- table responsive -->
								<div class="table-responsive">
									<table class="table table-hover">
										<thead>
											<tr>
												<th class="center">结算批号</th>
												<th class="center">结算状态</th>
												<th class="center">结算金额</th>
												<th class="center">结算订单</th>
												<th class="center">结算买手</th>
												<th class="center">结算时间</th>
												<th class="center">结算人</th>
												<th class="center">操作</th>
											</tr>
										</thead>
										<tbody>
											{% for result in results %}
											<tr class="placeholder">
								              <td colspan="6"></td>
								            </tr>
											
											<tr class="info-detail">
												<td>{{ result.id }}</td>
												<td {% if result.status == 0 %}class="unfinished"{% endif %}>{% if result.status == 1 %}已结算{% else %}待结算{% endif %}</td>
												<td>{{ (result.sum_price - result.adjust)|sprintf }}</td>
												<td>{{ result.order_count }}</td>
												<td>{{ result.buyer_count }}</td>
												<td>{{ result.created_time|date('Y-m-d H:i:s') }}</td>
												<td>{{ result.manager.username }}</td>	
												<td class="operate">
													<div class="center">
														<div class="edit center">
															{% if result.status == 1 %}
										                    <p class="center"><a href="/settlement/historydetail/{{ result.id }}">清单</a></p>
										                    {% else %}
										                    <p class="center"><a href="/settlement/manual/{{ result.id }}">结算</a></p>
										                	{% endif %}
										                </div>
									                </div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									
								</div>
								<!-- table responsive -->
								<!-- Pagination 开始 -->
								<div class="pages">
									 {{ widget('\\yii\\widgets\\LinkPager',{'pagination':pages}) }}
								</div>
								<!-- pagination 结束 -->
							</div>
						</div>
					</div>
				</div>
				<!-- 搜索结果 结束 -->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/ace/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/ace/js/balance-index.js"></script>
<script type="text/javascript">
	$(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii"
    });	
</script>
{% endblock %}