{% set menu_name = "balance" %}
{% set sidebar_name = "买手结算" %}
{% extends '@view/layouts/main.twig' %}
{% block content %}
<link rel="stylesheet" href="/ace/css/bootstrap-datetimepicker.min.css">
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>
	<!-- 面包屑 开始 -->
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="/settlement/list">财务管理</a>
		</li>

		<li class="active">买手结算</li>
	</ul><!-- 面包屑 结束 -->
</div><!-- 主体topbar 开始 -->
<!-- page-content 开始 -->
{% include '@app/views/layouts/notice.twig' %}
<div class="page-content">
	<!-- row 开始 -->
	<div class="row">
		<!-- col 开始 -->
		<div class="col-xs-12">
			<!-- 数据汇总 开始 -->
			{# <ul class="data-collection col-sm-12 infobox-container">
				<li class="space-10"></li>
				<li class="order-tody infobox infobox-black">
					<div class="infobox-data">
						<strong class="infobox-data-number">214</strong>
						<span class="infobox-content">昨日成交订单</span>
						<div class="infobox-content">
							<em>买手: 211</em>
							<i class="icon-arrow-down"></i>
						</div>
					</div>
				</li>
				<li class="order-yesterday infobox infobox-black">
					<div class="infobox-data">
						<strong class="infobox-data-number">214</strong>
						<span class="infobox-content">昨日结算额</span>
						<div class="infobox-content">
							<em>订单金额: 12,212</em>
							<i class="icon-arrow-up"></i>
						</div>
					</div>
				</li>
				<li class="order-current-month infobox infobox-black">
					<div class="infobox-data">
						<strong class="infobox-data-number">2124</strong>
						<span class="infobox-content">本月成交订单</span>
						<div class="infobox-content">
							<em>买手: 321</em>
							<i class="icon-arrow-up"></i>
						</div>
					</div>
				</li>
				<li class="turnover-current-month infobox infobox-black">
					<div class="infobox-data">
						<strong class="infobox-data-number">12,424,457</strong>
						<span class="infobox-content">本月结算额</span>
						<div class="infobox-content">
							<em>11月: 212,321</em>
							<i class="icon-arrow-down"></i>
						</div>
					</div>
				</li>
			</ul> #}
			<!-- 数据汇总 结束 -->

			<!-- 搜索区域 开始 -->
			<div class="search-area col-sm-12">
				<form method="get">
					<!-- 搜索条件 开始 -->
					<div class="search-box">
						<div class="space-10"></div>
						<!-- 分类搜索 开始 -->
						<div class="classified-search">
							<div class="input-group">
								<input type="text" id="searchType" name="buyer_name" value="{% if params.buyer_id is defined %}{{ params.buyer_id }}{% endif %}{% if params.buyer_name is defined %}{{ params.buyer_name }}{% endif %}" class="search-bar form-control search-query input-sm" placeholder="请输入要搜索的内容" />
								<div class="classify-info btn-group">
									<button type="button" id="classifiedBtn" data-toggle="dropdown" class="classified-btn btn btn-xs btn-primary dropdown-toggle">
										<em>{% if params.buyer_id is defined %}买手ID{% endif %}{% if params.buyer_name is defined %}买手真名{% endif %}</em>
										<span class="icon-caret-down icon-on-right"></span>
									</button>

									<ul id="searchMenu" class="dropdown-menu dropdown-default">
										<li><a data-name="buyer_name" href="#">买手真名</a></li>
										<li><a data-name="buyer_id" href="#">买手ID</a></li>
									</ul>
								</div>
								<span class="search-btn input-group-btn">
									<button type="submit" class="btn btn-primary btn-xs">
										搜索
										<i class="icon-search icon-on-right bigger-110"></i>
									</button>
								</span>
								
							</div>
							<span class="info">可搜索买手ID</span>
						</div>
						<!-- 分类搜索 结束 -->
						<!-- 时间搜索 开始 -->
						
						<div class="time-search">
							<div class="space-10"></div>
							<div class="order-time inline-block">
								<div class="from">
									<strong>结算时间</strong>
									<div class="input-append date form_datetime inline-block">
								    	<input id="beginTime"  size="16" name="begin_time" type="text" value="{% if params.begin_time is defined %}{{ params.begin_time }}{% endif %}" readonly><span class="add-on"><i class="icon-th"></i></span>
									</div>
								</div>
								<div class="to">
									<strong>to</strong>
									<div class="input-append date form_datetime inline-block">
								    	<input id="endTime" size="16" name="end_time" type="text" value="{% if params.end_time is defined %}{{ params.end_time }}{% endif %}" readonly><span class="add-on"><i class="icon-th"></i></span>
									</div>
								</div>
								<button type="submit" class="btn btn-xs btn-primary">筛选</button>
							</div>
						</div>
						<!-- 时间搜索 结束 -->
					</div>	
					<!-- 搜索条件 结束 -->
					<!-- 搜索结果 开始 -->
					<div class="search-results">
						<div class="space-10"></div>
						<div class="results-tab tabbable">
							<ul class="nav nav-tabs" id="tabLevelOne">
								<li data-type="0" class="{% if (params.status is defined and params.status == 0) or params.status is not defined  %}active{% endif %} pay-state"><a href="{{ model.getUrl('/settlement/list?','status','0') }}">待结算</a></li>
								<li data-type="1" class="{% if (params.status is defined and params.status == 1) %}active{% endif %} pay-state"><a href="{{ model.getUrl('/settlement/list?','status','1') }}">已结算</a></li>
							</ul>
							<input id="settlementStatus" type="hidden" name="status" value="0" />
							<div class="tab-content">
								<div id="home" class="tab-pane in active">
									<!-- table responsive -->
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th class="center">买手真名</th>
													<th class="center">买手ID</th>
													<th class="center">
														{% if (params.status is defined and params.status == 0) or params.status is not defined  %}
														待结算订单
														{% endif %}
														{% if (params.status is defined and params.status == 1) %}
														已结算订单
														{% endif %}
														
													</th>
													<th class="center">
														{% if (params.status is defined and params.status == 0) or params.status is not defined  %}
														待结算金额
														{% endif %}
														{% if (params.status is defined and params.status == 1) %}
														已结算金额
														{% endif %}
													</th>
													<th class="center">调整金额</th>
													<th class="center">应结算金额</th>
													<th class="center">结算方式</th>
													<th class="center">操作</th>
												</tr>
											</thead>
											<tbody>
												<tr class="placeholder">
									              <td colspan="6"></td>
									            </tr>
												{% for result in results %}
												<tr class="info-detail">
													<td>{{ result.buyer_name }}</td>
													<td data-id="{{ result.buyer_id }}" class="buyer-id"><a href="{{ model.getUrl('/settlement/detail?','buyer_id',result.buyer_id) }}">{{ result.nickname }} ({{ result.buyer_id }})</a></td>
													<td>{{ result.orderCount }}</td>
													<td>{{ result.orderPrice }}</td>
													<td class="reduce">{{ result.adjust }}</td>
													<td>{{ (result.orderPrice + result.adjust)|sprintf }}</td>
													<td>{{ result.method }}</td>
													<td class="operate">
														<div class="center">
															<div class="edit center">
											                    <p class="center"><a href="{{ model.getUrl('/settlement/detail?','buyer_id',result.buyer_id) }}">详情</a></p>
											                </div>
											                {% if (params.status is defined and params.status == 0) or params.status is not defined  %}
											                <div class="edit edit center">
											                    <p class="center"><a data-id="{{ result.buyer_id }}" class="ignore" href="#" data-toggle="modal" data-target="#ignoreModal">忽略</a></p>
											                </div>
											                <div class="note center">
											                    <p class="center"><a href="/settlement/paytobuyer?buyer_id={{ result.buyer_id }}">结算</a></p>
											                </div>
											                {% endif %}
										                </div>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
										
									</div>
									<!-- table responsive -->
									{% if params.status is defined and params.status == 1 %}
									{% else %}
									<div class="settlement">
										{# <p class="total">合计应结算金额:<em>123,221,234.00</em></p> #}
										<button id="subSettlement" class="btn btn-primary btn-xs">提交结算</button>
									</div>
									{% endif %}
									<!-- Pagination 开始 -->

									<div class="pages">
										<p class="search-sum">共{{ count }}个结果</p>
										{{ widget('\\yii\\widgets\\LinkPager',{'pagination':pages}) }}
									</div>
									<!-- pagination 结束 -->
								</div>
							</div>
						</div>
					
					</div>
					<!-- 搜索结果 结束 -->
				</form>
			</div>
			<!-- 搜索区域 开始 -->
		</div><!-- col 结束 -->
	</div><!-- row 结束 -->
</div><!-- page-content 结束 -->
<!-- 忽略dialog -->
<div class="modal fade" id="ignoreModal" tabindex="-1" role="dialog" aria-labelledby="ignoreModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    	<form action="" method="get">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title" id="myModalLabel">忽略</h4>
	      	</div>
	      	<div class="modal-body">
	        	<p>需要忽略该买手或者所有这批订单吗？</p>
	        	<div class="dropdown">
	          		<button id="ignoreContent"  class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
	            	<em>请选择忽略内容</em>
	            	<span class="caret"></span>
	          	</button>
	          	<ul data-type="" id="menuContent" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	           		<li data-id="0"  role="presentation"><a role="menuitem" tabindex="-1" href="#">忽略这批订单</a></li>
	           		<li data-id="1"  role="presentation"><a role="menuitem" tabindex="-1" href="#">忽略该买手</a></li>
	          	</ul>
	          	<input id="ignoreBtn" type="hidden" name="buyer_id" value="" >
	          	<input id="ignoreOrderBtn" type="hidden" name="" value="" >

	        </div>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
	        	<button id="confirmIgnoreBtn" type="submit" class="btn btn-primary btn-sm" data-dismiss="modal">确定</button>
	      	</div>
	    </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="/ace/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/ace/js/balance-index.js"></script>
<script type="text/javascript">
	$(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii"
    });	
</script>
{% endblock %}
