{% set menu_name = "balance" %}
{% set sidebar_name = "买手结算" %}
{% extends '@view/layouts/main.twig' %}
{% block content %}
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>
	<!-- 面包屑 开始 -->
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">财务管理</a>
		</li>
		<li>
			<a href="#">买手结算</a>
		</li>

		<li class="active">手动结算</li>
	</ul><!-- 面包屑 结束 -->
</div><!-- 主体topbar 开始 -->
<div class="page-content">
	<!-- row 开始 -->
	<div class="row">
		<!-- col 开始 -->
		<div class="col-xs-12">
			<div class="space-10"></div>
			<div class="balance-account-list manual-list">
				<h4>以下结算需手动结算</h4>
				<div class="space-6"></div>
				<div class="table-responsive results-tab">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="center">结算状态</th>
								<th class="center">买手真名</th>
								<th class="center">买手ID</th>
								<th class="center">待结算订单</th>
								<th class="center">待结算金额</th>
								<th class="center">调整金额</th>
								<th class="center">应结算金额</th>
								<th class="center">操作</th>
							</tr>
						</thead>
						<tbody class="order_list">		
							{% for result in results %}					
							<tr class="info-detail" data-id="1111">
								<td {% if result.status == 1 %}class="settled"{% endif %}>{% if result.status == 0 %}待{% else %}已{% endif %}结算</td>
								<td>{{ result.buyer_realname }}</td>
								<td><a href="#">{{ result.buyer_realname }} ({{ result.buyer_id }})</a></td>
								<td>{{ result.orders|count }}</td>
								<td>{{ result.sumprice|sprintf }}</td>	
								<td class="{% if result.adjust > 0 %}reduce{% elseif result.adjust < 0 %}increase{% else %}{% endif %}">{{ result.adjust }}</td>
								<td class="prompt">{{ (result.sumprice + result.adjust)|sprintf }}</td>
								<td>
									<a data-id="{{ settlement_id }}" data-buyer-id="{{ result.buyer_id }}" href="javascript:;" class="buyer_do">结算</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					
				</div>

			</div>
		</div>
	</div>
</div>
<!-- 结算 dialog -->
<div class="modal fade" id="accountInfoModal" tabindex="-1" role="dialog" aria-labelledby="accountInfoModalLabel" aria-hidden="true">
  
</div>
<script src="/ace/js/jquery.zclip.min.js"></script> 
<script type="text/javascript" src="/ace/js/balance-manual.js"></script>
{% endblock %}

