{% set sidebar_name = "查看用户" %}
{% set menu_name = "owner" %}
{% extends "@app/views/layouts/main.twig" %}
{% block content %}
{% include '@app/views/layouts/base_with_sidebar.twig' %}
<div class="main">
{# <div class="order_search">
  <form>
    <ul class="clearfix">
        <li>
            <label>用 户：</label>
            <input type="text" name="username" value="{% if params.username is defined %}{{ params.username }}{% endif %}" class="search_input" placeholder="" />
        </li>
        <li>
            <label>部 门：</label>
            <input type="text" name="department" value="{% if params.department is defined %}{{ params.department }}{% endif %}" class="search_input" placeholder="" />
        </li>
        <li>
            <label>组 别：</label>
            <input type="text" name="category" value="{% if params.category is defined %}{{ params.category }}{% endif %}" class="search_input" placeholder="" />
        </li>
        <li>
            <label>产品线：</label>
            <input type="text" name="product_line" value="{% if params.product_line is defined %}{{ params.product_line }}{% endif %}" class="search_input" placeholder="" />
        </li>
    </ul>
    
    <input type="submit" value="搜索" class="search_btn" />
  </form>
</div> #}
<div class="material_cart clearfix">
    {# <a href="javascript:void(0);" class="export_btn">导出用户信息</a> #}
</div>
<div class="materiel_box">
        <table id="material_list" class="materiel_table">
            <thead>
                <tr>
                    <td>序号</td>
                    {# <td>用户类型</td> #}
                    <td>名字</td>
                    <td width="200">邮箱</td>
                    <td width="120">移动电话</td>
                    <td>固定电话</td>
                    <td>所在城市/库位</td>
                    {# <td>分享</td> #}
                    <td>部门</td>
                    <td>组别</td>
                    <td>一级产品线</td>
                    <td>二级产品线</td>
                    <td>当前预算</td>
                    {# <td>操作</td> #}
                </tr>
            </thead>
            <tbody>
                {% for key,result in results %}
                <tr>
                    <td>{{ result.id }}</td>
                    {# <td></td> #}
                    <td>{{ result.english_name }}</td>
                    <td>{{ result.email }}</td>
                    <td>{{ result.phone }}</td>
                    <td>{{ result.tell }}</td>
                    <td>{{ result.storeroom.name }}</td>
                    <td>{{ result.departments.name }}</td>
                    <td>{{ result.categorys.name }}</td>
                    <td>{% if result.productlines is defined %}{{ result.productlines.name }}{% endif %}</td>
                    <td>{% if result.producttwolines is defined %}{{ result.producttwolines.name }}{% endif %}</td>
                     <td>{% if result.budgets is defined %}{{ result.budgets.price }}
                        {% else %}
                        0
                        {% endif %}
                    </td>
                    {# <td><a href="/owner/updatehp/{{ result.id }}" class="blue">修改</a></td> #}
                </tr>
                {% endfor %}
            </tbody>
        </table>      
    </div>
    <div class="pages clearfix">
        <div class="fr">
            {{ widget('\\yii\\widgets\\LinkPager',{'pagination':pages}) }}
        </div>
    </div>
</div>
<script type='text/javascript' src='/js/layer.min.js'></script>
<script type='text/javascript' src='/js/owner-budget.js'></script>
<script type="text/javascript">
$(function(){
    var url = window.location.search;
    $(".export_btn").attr("href","/owner/export"+url);
});
</script>
{% endblock %}



