{% set sidebar_name = "库存报告" %}
{% set menu_name = "report" %}
{% extends "@app/views/layouts/main.twig" %}
{% block content %}
  {% include '@app/views/layouts/base_with_sidebar.twig' %}
  <div class="main">
        <div class="order_search">
          <form id="searchImport">
            <ul class="clearfix">
                <li>
                    <label>关键字：</label>
                    <input type="text" name="material_id" value="{% if params.material_id is defined %}{{ params.material_id }}{% endif %}" class="search_input" placeholder="输入关键字进行搜索" />
                </li>
                <li>
                    <label>选择仓库：</label>
                    <select name="storeroom_id">
                        <option value="">请选择仓库</option>
                        {% for storeroom in storerooms %}
                        <option {% if params.storeroom_id is defined and params.storeroom_id == storeroom.id %}selected="selected"{% endif %} value="{{ storeroom.id }}">{{ storeroom.name }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <label>所属人：</label>
                    <select name="owner_id">
                        <option value="">请选择所属人</option>
                        {% for owner in ownersData %}
                        <option {% if params.owner_id is defined and params.owner_id == owner.owners.id %}selected="selected"{% endif %} value="{{ owner.owners.id }}">{{ owner.owners.english_name }}</option>
                        {% endfor %}
                        {# <option value="1">周星星</option>
                        <option value="1">张学友</option> #}
                    </select>
                </li>
                <li>
                    <label>产&ensp;品&ensp;线：</label>
                    <input type="text" name="channel" value="{% if params.channel is defined %}{{ params.channel }}{% endif %}" class="search_input" placeholder="" />
                </li>
            </ul>
            
            <input type="submit" value="搜索" class="search_btn" />
          </form>
        </div>
        <div class="material_cart clearfix">
            <a href="javascript:;" class="export_btn">导出库存报表</a>
        </div>
        <div class="materiel_box">
                <table id="material_list" class="materiel_table">
                    <thead>
                        <tr>
                            <td>物料编号</td>
                            <td>物料名称</td>
                            <td>属性</td>
                            <td>产品线</td>
                            <td>入库时间</td>
                            <td>库房地址</td>
                            <td>所属人</td>
                            <td>可用库存数</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,result in results %}
                        <tr>
                            <td>{{ result.materials.code }}</td>
                            <td><a href="/material/view?id={{ result.material_id }}&sid={{ result.storeroom_id }}" class="blue">{{ result.materials.name }}</a></td>
                            {# <td>
                                {% if result.owner_id == App.user.id %}
                                <a href="javascript:void(0);" onclick="shareTo({{ result.material_id }},{{ result.storeroom_id }});">点击分享</a>
                                {% else %}

                                {% endif %}
                            </td> #}
                            <td>{{ result.materials.getMyPropertyName() }}</td>
                            <td>{% if result.owners.producttwolines is defined %}{{ result.owners.producttwolines.name }}{% endif %}</td>
                            <td>{{ result.created|date('Y-m-d H:i') }}</td>
                            <td>{{ result.storerooms.name }}</td>
                            <td>{{ result.owners.english_name }}
                            </td>
                            <td>{{ result.stockTotals.total - result.stockTotals.lock_num }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>      
            </div>
            <div class="pages clearfix">
                <div class="fr">
                    {{ widget('\\yii\\widgets\\LinkPager',{'pagination':pages}) }}
                </div>
            </div>
      </div>
<script type="text/javascript">

$(function(){
    var url = window.location.search;
    $(".export_btn").attr("href","/stock/import"+url);
});

</script>
{% endblock %}



