{% set menu_name = "position" %}
{% set sidebar_name = "创建运营位" %}
{% extends '@view/layouts/main.twig' %}
{% block content %}
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>
	<!-- 面包屑 开始 -->
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">运营管理</a>
		</li>
		<li>
			<a href="#">全部商品</a>
		</li>
		<li class="active">创建运营位</li>
	</ul><!-- 面包屑 结束 -->
</div><!-- 主体topbar 开始 -->
<div class="page-content position-create">
	<!-- row 开始 -->
	<div class="row">
		<!-- col 开始 -->
		<div class="col-xs-12">
			<div class="space-10"></div>
			{% set form = activeform.begin({'id':'create-form','layout':'horizontal','fieldConfig':{'horizontalCssClasses':{'wrapper':'col-lg-4'} } }) %}   
			<div class="basic-info">
				<h4>基本信息</h4>
				<div class="space-6"></div>
					<ul class="set-img">
						<li>
							<span>图片</span>
							<input type="text" name="OpPosition[image]" class="input-xlarge" id="image-0" >
							<button data-toggle="modal" data-target="#uploadImgModal" id="uploadImg"  type="button" class="btn btn-primary btn-sm btn-space">设置图片</button>	
						</li>
						
					</ul>
				{{ form.field(model,'name',{inputOptions:{'class':'form-control'}}).label(null,{'class':'col-sm-3 control-label no-padding-right'})|raw}}
				{{ form.field(model,'type').dropDownList(model.getCanUseTypes()).label(null,{'class':'control-label col-sm-3 no-padding-right'})|raw }}
				{{ form.field(model,'desc',{inputOptions:{'class':'form-control'}}).label(null,{'class':'col-sm-3 control-label no-padding-right'})|raw}}
			</div>
			<div class="space-10"></div>
			<div class="field-manage">
				<h4>字段管理</h4>
				<div class="space-6"></div>
				<div id="fieldList" class="field-list clearfix">
					<div id="blockArea" class="block-area">
						<div class="field-block col-xs-12">
							<div class="serial col-xs-2">
								<div class="list-num">1</div>
								<a id="deleteList" href="#">删除</a>
							</div>
							<ul class="field-content col-xs-5">
								<li>
									<span>字段名称</span>
									<input type="text" class="input-xlarge"  name="OpPositionDetail[0][name]" >
														
								</li>
								<li>
									<span>参数名称</span>
									<input type="text" class="input-xlarge" name="OpPositionDetail[0][column_name]" id="form-field-5" >
								</li>
								<li>
									<span>是否需要图片</span>
								
									<label>
										<input name="OpPositionDetail[0][need_image]" class="need-img ace ace-switch ace-switch-sm ace-switch-7" type="checkbox" value="0" />
										<span class="lbl"></span>
									</label>
									
								</li>
								<li>
									<span>是否需要文字</span>
									<label>
										<input name="OpPositionDetail[0][need_text]" class="need-text ace ace-switch ace-switch-sm ace-switch-7" type="checkbox" value="0" />
										<span class="lbl"></span>
									</label>
									
								</li>
								<li>
									<span>备注</span>
									<input type="text" class="input-xlarge" name="OpPositionDetail[0][desc]" id="form-field-5" >
								</li>
							</ul>
							<div class="num col-xs-4">
								<span>X</span>
								<div class="input-box">
									<input type="text" class="input-sm" name="OpPositionDetail[0][num]" id="form-field-5" value="1">
									<div>数量</div>
								</div>
							</div>
						</div>
					</div>
					<div class="add-list col-xs-12">
						<span>+</span>
						<a id="addList" href="javascript:;">添加新字段</a>
					</div>
					<button type="submit" class="btn btn-block btn-primary btn-sm">创建运营位</button>
				</div>

			</div>
			{{ void(form.end()) }}
		</div>
	</div>
</div>
<div class="modal fade"  id="uploadImgModal" tabindex="-1" role="dialog" aria-labelledby="uploadImgModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="uploadImgModalLabel">选择上传的图片</h4>
      	</div>
      	<form id="uploadimageForm" action="/position/uploadfile" method="post" target="tarframe" enctype="multipart/form-data">
		    <div class="modal-body">
		      <p>
		        	<input type="hidden" name="num" id="imageNum"  value=""/>
		        	<input type="hidden" value="{{ App.request.getCsrfToken() }}" name="{{ App.request.csrfParam }}">
		            <input type="file" id="upload_file" name="upload" />
		            <span id="linkImg" href="#"><i class="icon-upload-alt bigger-160"></i><em>请选择上传的图片</em></span>
		          	<iframe src='' width='0' height='0' style='display:none;' name="tarframe"></iframe>
		      </p>
		    </div>
		    <div class="modal-footer">
		      	<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
       			<button type="button" id="cofirm-button" data-dismiss="modal" class="btn btn-primary btn-sm" >确定</button>
		    </div>
	    </form>
    </div>
  </div>
</div>
<script type="text/javascript">
	function stopSend(num,img){
        $("#image-"+num).val(img);
    }
    $("#cofirm-button").click(function(){
    	$("#uploadimageForm").submit();
    });
</script>
<script type="text/javascript" src="/ace/js/position-create.js"></script>
{% endblock %}