{% set sidebar_name = "客户预算" %}
{% set menu_name = "budget" %}
{% extends "@app/views/layouts/main.twig" %}
{% block content %}
  {% include '@app/views/layouts/base_with_sidebar.twig' %}
  <div class="main">
        <div class="form_view">
        <div class="mc">
            {% set form = activeform.begin() %}
                <ul class="form_list">
                    <li class="clearfix">
                        <label>调整金额:</label>
                        <div class="item">
                            <input type="text" name="price" />
                            <input type="hidden" value="{{ budget.id }}" name="budget_id" />
                        </div>
                    </li>
                </ul>
                <div class="form_submit">
                    <input type="submit" value="确定" class="form_btn" name="">
                </div>
            {{ void(form.end()) }} 
        </div>
    </div>
        <div class="materiel_box">
                <table id="material_list" class="materiel_table">
                    <thead>
                        <tr>
                            <td>客户名</td>
                            <td>库房名称</td>
                            <td>年</td>
                            {# <td>分享</td> #}
                            <td>月份/季度</td>
                            <td>预算费用</td>
                            <td>调整费用</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bg in budget.adjusts %}
                        <tr>
                            <td>{{ budget.owner.english_name }}</td>
                            <td>{{ budget.storeroom.name }}</td>
                            <td>{{ budget.year }}</td>
                            <td>{{ budget.time }}</td>
                            <td>{{ budget.price }}</td>
                            <td>{{ bg.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>      
            </div>
      </div>
{% endblock %}



