{% set sidebar_name = "客户预算" %}
{% set menu_name = "budget" %}
{% extends "@app/views/layouts/main.twig" %}
{% block content %}
<link rel="stylesheet" href="/css/jquery.auto-complete.css">
  {% include '@app/views/layouts/base_with_sidebar.twig' %}
<div class="main">
    <div class="form_view">
        <div class="mc">
            {% set form = activeform.begin({'id':'create-form'}) %}  
                <ul class="form_list">
                    <li class="clearfix">
                        <label>客户:</label>
                        {{ form.field(model,'owner',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':'','id':'autocompleteCreate','name':'','value':''}}).label(false)|raw}}
                    </li>
                    <input type="hidden" name="NewBudget[owner_id]" id="createUsert" />
                    <li class="clearfix">
                        <label>库房:</label>
                        {{ form.field(model,'storeroom_id',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).dropDownList(model.getCanUseStorerooms()).label(false)|raw}}
                    </li>
                    <li class="clearfix">
                        <label>预算金额:</label>
                        {{ form.field(model,'price',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).label(false)|raw}}
                    </li>
                    <li class="clearfix">
                        <label>时间:</label>
                        {{ form.field(model,'year',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':'date_input','name':'date','value':''}}).label(false)|raw}}

                    </li>
                </ul>
                 <div class="form_submit">
                    <input type="submit" value="确定" class="form_btn" name="">
                    </div>
            {{ void(form.end) }}
        </div>
    </div>
</div>
<script type='text/javascript' src='/js/date_input.js'></script>
<script type='text/javascript' src='/js/jquery.auto-complete.min.js'></script>
    <script type="text/javascript">
        $("#create-form").keypress(function(e) {
          if (e.which == 13) {
            return false;
          }
        });
        $(function(){
            $('.date_input').date_input();
        });
        var data = {{ createusers|raw }}; 
        $('#autocompleteCreate').autoComplete({
            minChars: 0,
            source: function(term, suggest){
                term = term.toLowerCase();
                var choices = data;
                var suggestions = [];
                for (i=0;i<choices.length;i++)
                    if (~(choices[i][0]+' '+choices[i][1]).toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                suggest(suggestions);
            },
            renderItem: function (item, search){
                var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
                return '<div class="autocomplete-suggestion" data-langname="'+item[0]+'" data-lang="'+item[1]+'" data-val="'+search+'"> '+item[0].replace(re, "<b>$1</b>")+'</div>';
            },
            onSelect: function(e, term, item){
                $('#autocompleteCreate').val(item.data('langname')+'');
                $('#createUsert').val(item.data('lang'));
            }
        });
    </script>
{% endblock %}



