{% set sidebar_name = "添加用户" %}
{% set menu_name = "managers" %}
{% extends "@app/views/layouts/main.twig" %}
{% block content %}
<div class="page-content">
            <div class="page-header">
              <h1>
                Create Manager
              </h1>
            </div><!-- /.page-header -->

            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                {% set form = activeform.begin({'id':'create-form','layout':'horizontal','fieldConfig':{'horizontalCssClasses':{'wrapper':'col-lg-4'} } }) %}     
                {{ form.field(model,'username',{inputOptions:{'class':'form-control'}}).label(null,{'class':'col-sm-3 control-label no-padding-right'})|raw}}
                {{ form.field(model,'password',{inputOptions:{'class':'form-control'}}).passwordInput().label(null,{'class':'col-sm-3 control-label no-padding-right'})|raw}}
                {{ form.field(model,'email',{inputOptions:{'class':'form-control'}}).label(null,{'class':'col-sm-3 control-label no-padding-right'})|raw}}
                {{ form.field(model,'platform',{'inputOptions':{'class':'form-control'}}).checkboxList(model.getPlatforms()).label(null,{'class':'col-sm-3 control-label no-padding-right'})|raw}}
                    <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                      <button class="btn btn-sm btn-info" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        Submit
                      </button>

                      &nbsp; &nbsp; &nbsp;
                      <button class="btn btn-sm" type="reset">
                        <i class="icon-undo bigger-110"></i>
                        Reset
                      </button>
                    </div>
                  </div>
                   {{ void(form.end()) }}
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->     
{% endblock %}
