{% extends "@app/views/layouts/main.twig" %}
{% block content %}
{% include '@app/views/layouts/base_with_sidebar.twig' %}
  <div class="main">
        <div class="order_search">
                <form>
                    <ul>
                        <li class="clearfix">
                            <label>订单编号：</label>
                            <input type="text" name="order_id" value="{% if params.begin_time is defined %}{{ params.begin_time }}{% endif %}" class="search_ipt" placeholder="" />
                        </li>
                        <li class="clearfix">
                            
                        </li>
                        <li class="clearfix">
                            <label>开始日期：</label>
                            <input type="text" name="begin_time" class="search_ipt date_input" value="{% if params.begin_time is defined %}{{ params.begin_time }}{% endif %}" placeholder="点击选择开始日期" />
                        </li>
                        <li class="clearfix">
                            <label>结束日期：</label>
                            <input type="text" name="end_time" class="search_ipt date_input" value="{% if params.end_time is defined %}{{ params.end_time }}{% endif %}" placeholder="点击选择结束日期" />
                        </li>
                        <li class="clearfix">
                            <label>&nbsp;</label>
                            <input type="submit" name="" class="search_btn" value="搜索" />
                        </li>
                    </ul>
                </form>
            </div>
        <div class="order_box">
          <table class="bought_table">
            <!-- 单个商品 -->
                    {% for result in results %}
                    <!-- 多个商品 -->
                    <tbody id="myorder_1979">
                            <tr class="sep_row">
                                <td colspan="5"></td>
                            </tr>
                            <tr class="order_hd">
                                <td colspan="5">
                                  <span>
                                    {# <input type="checkbox" value="" name="" /> #}
                                  </span>
                                    <span class="date">下单日期：{{ result.created }}</span>
                                    <span class="order_no">订单号码：{{ result.viewid }}</span>
                                    <span class="user">下单人：
                                        {{ result.createduser.english_name }}
                                    </span>
                                    {% if result.hhg_uid != 0 %}
                                    <span class="user">操作人：
                                        {{ result.hhguser.name }}
                                    </span>
                                    {% endif %}
                                    {# <span class="del"></span> #}
                                </td>
                            </tr>
                            {% for d in result.details %}
                            <tr class="order_bd">
                                <td class="baobei">
                                    {% for im in d.material.image %}
                                      {% if loop.index == 1%}
                                    <a class="pic" href="#" target="_blank"><img src="{{ im }}"></a>
                                  {% endif %}
                                  {% endfor %}
                                    <div class="goods">
                                        <p class="name"><a class='blue' href="/material/view/{{ d.material.id }}" target="_blank">{{ d.material.name }}</a></p>
                                    </div>
                                </td>
                                <td class="price">物料编号：{{ d.material.code }}</td>
                                <td class="qty">数量：{{ d.quantity }}</td>
                                <td rowspan="2" class="status">订单状态<br/>{{ result.getOrderStatus()|raw }}</td>
                                {% if loop.index == 1 %}
                                <td rowspan="2" class="edit"><br/><a class="blue" href="/order/view/{{ d.order_id }}">订单详情</a></td>
                                {% endif %}
                            </tr>
                          {% endfor %}
                    </tbody>
                  {% endfor %}
                    
                </table>
        </div>
      </div>
{% endblock %}
