{% extends "@app/views/layouts/main.twig" %}
{% block content %}
{% include '@app/views/layouts/base_with_sidebar.twig' %}
  <div class="main">
        <div class="order_search">
          <form>
            <li>
                <label>订单号：</label>
                <input type="text" name="order_id" value="{% if params.order_id is defined %}{{ params.order_id }}{% endif %}" class="search_input" placeholder="输入订单号搜索" />
            </li>
            <li>
                <label>选择仓库：</label>
                <select name="type">
                    <option value="">请选择审批内容</option>
                    <option {% if params.type is defined and params.type == 0 %}selected="selected"{% endif %} value="0">物料审批</option>
                    <option {% if params.type is defined and params.type == 1 %}selected="selected"{% endif %} value="1">费用审批</option>
                    <option {% if params.type is defined and params.type == 2 %}selected="selected"{% endif %} value="2">预算审批</option>
                </select>
            </li>
            
            <input type="submit" value="订单搜索" class="search_btn" />
          </form>
        </div>
        <div class="order_box">
          <table class="bought_table">
            <!-- 单个商品 -->
                    {% for result in results %}
                      {% for order in result.orders %}
                    <!-- 多个商品 -->
                    <tbody id="myorder_1979">
                            <tr class="sep_row">
                                <td colspan="5"></td>
                            </tr>
                            <tr class="order_hd">
                                <td colspan="5">
                                  {# <span><input type="checkbox" value="" name="" /></span> #}
                                    <span class="date">下单日期：{{ order.created }}</span>
                                    <span class="order_no">订单号码：{{ order.viewid }}</span>
                                    <span class="user">下单人：
                                        {{ order.createduser.english_name }}
                                    </span>
                                    <span class="del"></span>
                                </td>
                            </tr>
                            {% for d in order.details %}
                            <tr class="order_bd">
                                <td class="baobei">
                                    {% for im in d.material.image %}
                                      {% if loop.index == 1%}
                                    <a class="pic" href="#" target="_blank"><img src="{{ im }}"></a>
                                  {% endif %}
                                  {% endfor %}
                                    <div class="goods">
                                        <p class="name"><a class='blue' href="/material/view/{{ d.material.id }}" target="_blank">{{ d.material.name }}</a></p>
                                    </div>
                                </td>
                                <td class="price">物料编号：{{ d.material.code }}</td>
                                <td class="qty">数量：{{ d.quantity }}</td>
                                {% if loop.index == 1 %}<td rowspan="{{ order.details|count }}" class="status">订单状态<br/>{{ order.getOrderStatus()|raw }}</td>{% endif %}
                                {% if loop.index == 1 %}
                                <td rowspan="{{ order.details|count }}" class="edit"><br/><a class="blue" href="/order/viewapproval/{{ d.order_id }}">去审批</a></td>
                                {% endif %}
                            </tr>
                          {% endfor %}
                    </tbody>
                  {% endfor %}
                {% endfor %}
                </table>
        </div>
      </div>
{% endblock %}
