{% extends "@app/views/layouts/main.twig" %}
{% block content %}
{% if order.can_formal == constant("\\backend\\models\\Order::IS_FORMAL") %}
    {% if order.status == constant("\\backend\\models\\Order::ORDER_STATUS_IS_PRE") %}
    {% set sidebar_name = "预订单" %}
    {% elseif order.status == constant("\\backend\\models\\Order::ORDER_STATUS_IS_NEED_APPROVAL") %}
    {% set sidebar_name = "待审批订单" %}
    {% elseif order.status == constant("\\backend\\models\\Order::ORDER_STATUS_IS_APPROVALED") %}
    {% set sidebar_name = "进行中的订单" %}
    {% elseif order.status == constant("\\backend\\models\\Order::ORDER_STATUS_IS_TRUCK") %}
    {% set sidebar_name = "进行中的订单" %}
    {% elseif order.status == constant("\\backend\\models\\Order::ORDER_STATUS_IS_SIGN") %}
    {% set sidebar_name = "已完成的订单" %}
    {% elseif order.status == constant("\\backend\\models\\Order::ORDER_STATUS_IS_UNSIGN") %}
    {% set sidebar_name = "异常订单" %}
    {% elseif order.status == constant("\\backend\\models\\Order::ORDER_STATUS_IS_APPROVAL_FAIL") %}
    {% set sidebar_name = "异常订单" %}
    {% elseif order.status == constant("\\backend\\models\\Order::ORDER_STATUS_IS_CANCEL") %}
    {% set sidebar_name = "异常订单" %}
    {% endif %}
{% else %}
{% set sidebar_name = "异常订单" %}
{% endif %}
{% set menu_name = 'order' %}
{% include '@app/views/layouts/base_with_sidebar.twig' %}
<div class="main">
  <div class="order_view">
    <div class="mt">订单信息</div>
    <div class="mc">
        <dl>
            <dt>预定单号：{{ order.viewid }}</dt>
            <dt>下单日期：{{ order.created|date('Y-m-d H:i') }}</dt>
            <dt>订单预估报价：{{ ship_fee + fenjian_fee }}RMB</dt>
            <dt>订单状态：{% if order.can_formal == constant("\\backend\\models\\Order::IS_FORMAL") %}{{ order.getOrderStatus()|raw }}{% else %}由于超出费用未能生成正式订单{% endif %}</dt>
        </dl>
        <dl>
            <dt>物料审批/费用审批</dt>
            {% if order.can_formal == constant("\\backend\\models\\Order::IS_FORMAL") %}
            <dd>
                <ul class="shenpi">
                    {% if order.is_del == constant('\\backend\\models\\Order::ORDER_IS_NOT_DEL') %}
                        {% if order.status == constant("\\backend\\models\\Order::ORDER_STATUS_IS_PRE") %}
                        {% if order.owner_approval == constant("\\backend\\models\\Order::NOT_PASS_OWNER_APPROVAL") %}
                        <li class="clearfix">
                            <p>订单发放物料中含有分享预料，需要物料审批方可发货</p>
                            <span id="spprovalStatus">
                                <a href="javascript:void(0);" data-id="{{ order.id }}"  class="blue send-approval">发送审批</a>
                                {# <a href="javascript:void(0);" class="blue">修改预订单</a> #}
                                <a href="javascript:void(0);" data-id="{{ order.id }}" class="blue cancel-order">取消预订单</a>
                            </span>
                        </li>
                        {% endif %}
                        {% if order.need_fee_approval == constant("\\backend\\models\\Order::ORDER_NEED_FEE_APPROVAL") %}
                        <li class="clearfix">
                            <p>订单预估报价超过{{ order.warning_fee_price }}RMB，需要费用审批方可发货</p>
                            <span id="spprovalfeeStatus">
                                <a href="javascript:void(0);" data-id="{{ order.id }}" class="blue send-fee-approval">发送审批</a>
                                {# <a href="javascript:void(0);" class="blue">修改预订单</a> #}
                                <a href="javascript:void(0);" data-id="{{ order.id }}" class="blue cancel-order">取消预订单</a>
                            </span>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if order.status == constant("\\backend\\models\\Order::ORDER_STATUS_IS_NEED_APPROVAL") %}
                            {% if order.owner_approval == constant("\\backend\\models\\Order::NOT_PASS_OWNER_APPROVAL") %}
                                {% if order.checkSendMaterialApproval() %}
                                <li class="clearfix">
                                    <p>订单发放物料中含有分享预料，需要物料审批方可发货</p>
                                    <span id="spprovalStatus">
                                        <p>审批申请已发送,请等待审批人审批</p>
                                    </span>
                                </li>
                                {% else %}
                                <li class="clearfix">
                                    <p>订单发放物料中含有分享预料，需要物料审批方可发货</p>
                                    <span id="spprovalStatus">
                                        <a href="javascript:void(0);" data-id="{{ order.id }}"  class="blue send-approval">发送审批</a>
                                        {# <a href="javascript:void(0);" class="blue">修改预订单</a> #}
                                        <a href="javascript:void(0);" data-id="{{ order.id }}" class="blue cancel-order">取消预订单</a>
                                    </span>
                                </li>
                                {% endif %}
                            {% endif %}
                            {% if order.need_fee_approval == constant("\\backend\\models\\Order::ORDER_NEED_FEE_APPROVAL") %}
                                {% if order.checkSendFeeApproval() %}
                                    {% if order.fee_approval == constant("\\backend\\models\\Order::ORDER_PASS_FEE_APPROVAL") %}

                                    <li class="clearfix">
                                        <p>订单预估报价超过{{ order.warning_fee_price }}RMB，需要费用审批方可发货</p>
                                        <span id="spprovalStatus">
                                            <p>已通过费用审批放审批</p>
                                        </span>
                                    </li>
                                    {% else %}
                                    <li class="clearfix">
                                        <p>订单预估报价超过{{ order.warning_fee_price }}RMB，需要费用审批方可发货</p>
                                        <span id="spprovalfeeStatus">
                                            <P>审批申请已发送,请等待审批人审批</P>
                                        </span>
                                    </li>
                                    {% endif %}
                                {% else %}
                                    <li class="clearfix">
                                        <p>订单预估报价超过{{ order.warning_fee_price }}RMB，需要费用审批方可发货</p>
                                        <span>
                                            <a href="javascript:void(0);" class="blue send-approval">发送审批</a>
                                            {# <a href="javascript:void(0);" class="blue">修改预订单</a> #}
                                            <a href="javascript:void(0);" data-id="{{ order.id }}" class="blue cancel-order">取消预订单</a>
                                        </span>
                                    </li>
                                {% endif %}
                        {% endif %}
                        {% endif %}
                    {% else %}
                    <li class="clearfix">
                        <p><font color="red">该订单已取消</font></p>
                        <span>
                        </span>
                    </li>
                    {% endif %}
                </ul>
            </dd>
            {% endif %}
        </dl>
        <dl>
            <dt>物料清单</dt>
            <dd>
                <table class="materiel_table">
                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>物料编号</td>
                            <td>物料名称</td>
                            <td>所属人</td>
                            <td>计划数量</td>
                            {# <td></td> #}
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in order.details %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ detail.material.code }}</td>
                            <td><a href="/material/view/11" class="blue">{{ detail.material.name }}</a></td>
                            <td>{{ detail.material.owners.english_name }}</td>
                            <td>{{ detail.quantity }}</td>
                            {# <td><a href="#" class="blue">删除</a></td> #}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>   
            </dd>
        </dl>
        <dl>
            <dt>发货人信息</dt>
            <dd>
                <p>收货单位：{{ order.to_company }}</p>
                <p>收 货 人：{{ order.recipients}}</p>
                <p>地    址：{{ order.to_province }} {{ order.to_city }} {{ order.to_district }} {{ order.address }}</p>
                <p>手机号码：{{ order.phone }}</p>
                <p>运输时效：{{ order.getMyTransportType() }}</p>
                <p>保险：{% if order.insurance == 1 %}有{% else %}无{% endif %}</p>
                {# <p>借用：</p>
                <p>归还时间：</p> #}
                <p>保险价格：{{ order.insurance_price }}
                <p>用途：{{ order.purpose }}</p>
                <p>备注：{{ order.info }}</p>
            </dd>
        </dl>
        <dl>
            <dt>配送信息</dt>
            <dd>
                <p>要求送货日期：{{ order.send_date|date('Y-m-d') }}</p>
                <p>要求送达日期：{{ order.arrive_date|date('Y-m-d') }}</p>
            </dd>
        </dl>
        
    </div>
  </div>
  </div>
{# <script type='text/javascript' src='/js/layer.min.js'></script> #}
<script type='text/javascript' src='/js/order-view.js'></script>
{% endblock %}



