{% set menu_name = "boardroom" %}
{% set sidebar_name = "创建运营位" %}
{% extends '@view/layouts/main.twig' %}
{% block content %}
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>
	<!-- 面包屑 开始 -->
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">会议室</a>
		</li>
		<li class="active"></li>
	</ul><!-- 面包屑 结束 -->
</div><!-- 主体topbar 开始 -->
<div class="page-content boardroom-edit">
{# {% include "@app/views/layouts/notice.twig" %} #}
	<!-- row 开始 -->
	<div class="row">
		<!-- col 开始 -->
		<div class="col-xs-12">
			<div class="space-10"></div>
			<div class="basic-info">
				<h4>基本信息</h4>
				<div class="space-6"></div>
				<div class="tab-content">
					<!-- table responsive -->
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									
									<th class="center">ID</th>
									<th class="center">楼层</th>
									<th class="center">会议室</th>
                                                                        <th class="center">人数</th>
									<th class="center">创建时间</th>
									<th class="center">更新时间</th>
								</tr>
							</thead>
							<tbody>
								<tr class="placeholder">
					              <td colspan="6"></td>
					            </tr>
							
								<tr class="info-detail">
                                                                    			<td class="boardroom-id">
								
										<span class="center">{{ model.id }}</span>
									</td>
									<td><span class="center">{{ model.floor}}</span></td>	
                                                                        <td>		
                                                                            <span class="center">{{ model.name }}</span>
                                                                        </td>
							
									    <td>		
                                                                            <span class="center">{{ model.people_num }}</span>
                                                                        </td>
								
									
									<td>
										<time>
											<div class="space-10"></div>
						                  	<span class="center">{{ model.created_time|date('Y-m-d')}}<span>
						                  	<span class="center">{{ model.created_time|date('H:i:s')}}</span>
						                </time>
									</td>
									<td>
										<time>
											<div class="space-10"></div>
						                  	<span class="center">{{ model.updated_time|date('Y-m-d')}}<span>
						                  	<span class="center">{{ model.updated_time|date('H:i:s')}}</span>
						                </time>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- table responsive -->
				</div>
			</div>
		
		</div>
	</div>
</div>

<div class="modal fade"  id="uploadImgModal" tabindex="-1" role="dialog" aria-labelledby="uploadImgModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="uploadImgModalLabel">选择上传的图片</h4>
      	</div>
      	<form id="uploadimageForm" action="/boardroom/uploadfile" method="post" target="tarframe" enctype="multipart/form-data">
		    <div class="modal-body">
		      <p>
		        	<input type="hidden" name="num" id="imageNum"  value=""/>
		        	<input type="hidden" value="{{ App.request.getCsrfToken() }}" name="{{ App.request.csrfParam }}">
		            <input type="file" id="upload_file" name="upload" />
		            <span id="linkImg" href="#"><i class="icon-upload-alt bigger-160"></i><em>请选择上传的图片</em></span>
		          	<iframe src='' width='0' height='0' style='display:none;' name="tarframe"></iframe>
		      </p>
		    </div>
		    <div class="modal-footer">
		      	<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
       			<button type="button" id="cofirm-button" data-dismiss="modal" class="btn btn-primary btn-sm" >确定</button>
		    </div>
	    </form>
    </div>
  </div>
</div>
<script type="text/javascript">
	function stopSend(num,img){
        $("#image-"+num).val(img);
    }
    $("#cofirm-button").click(function(){
    	$("#uploadimageForm").submit();
    });
</script>
<script type="text/javascript" src="/ace/js/boardroom-edit.js"></script>

{% endblock %}