{% set sidebar_name = "用户列表" %}
{% set menu_name = "user" %}
{% extends "@app/views/layouts/main.twig" %}
{% block content %}
{% include '@app/views/layouts/base_with_sidebar.twig' %}
<div class="main">
<div class="order_search">
  <form>
    <ul class="clearfix">
        <li>
            <label>用 户：</label>
            <input type="text" name="name" value="{% if params.name is defined %}{{ params.name }}{% endif %}" class="search_input" placeholder="" />
        </li>
    </ul>
    
    <input type="submit" value="搜索" class="search_btn" />
  </form>
</div>
{# <div class="material_cart clearfix">
    <a href="javascript:void(0);" class="export_btn">导出用户信息</a>
</div> #}
<div class="materiel_box">
        <table id="material_list" class="materiel_table">
            <thead>
                <tr>
                    <td>序号</td>
                    <td>名字</td>
                    <td width="200">邮箱</td>
                    <td width="120">移动电话</td>
                    <td>固定电话</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                {% for key,result in results %}
                <tr>
                    <td>{{ result.id }}</td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.email }}</td>
                    <td>{{ result.phone }}</td>
                    <td>{{ result.tell }}</td>
                    <td><a href="/user/update/{{ result.id }}" class="blue">修改</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>      
    </div>
    <div class="pages clearfix">
        <div class="fr">
            {{ widget('\\yii\\widgets\\LinkPager',{'pagination':pages}) }}
        </div>
    </div>
</div>
<script type='text/javascript' src='/js/layer.min.js'></script>
<script type='text/javascript' src='/js/owner-budget.js'></script>
<script type="text/javascript">
$(function(){
    var url = window.location.search;
    $(".export_btn").attr("href","/hhg/export"+url);
});
</script>
{% endblock %}



