 {% set sidebar_name = "创建用户" %}
{% set menu_name = "hhg" %}
{% extends "@app/views/layouts/main.twig" %}
{% block content %}
{% include '@app/views/layouts/base_with_sidebar.twig' %}
<div class="main">
    <div class="form_view">
        <div class="mc" style="float:left;">
            {% set form = activeform.begin({'id':'create-form'}) %}  
                <ul class="form_list">
                    <li class="clearfix">
                        <label>客户:</label>
                        {{ form.field(model,'english_name',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':'','id':'autocompleteCreate'}}).label(false)|raw}}
                    </li>
                    <li class="clearfix">
                        <label>邮箱:</label>
                        {{ form.field(model,'email',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).label(false)|raw}}
                    </li>
                     <li class="clearfix">
                        <label>密码:</label>
                        {{ form.field(model,'password',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).passwordInput().label(false)|raw}}
                    </li>
                    <li class="clearfix">
                        <label>所属库房:</label>
                        {{ form.field(model,'storeroom_id',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).dropDownList(model.getCanUseStorerooms()).label(false)|raw}}
                    </li>
                    <li class="clearfix">
                        <label>手机:</label>
                        {{ form.field(model,'phone',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':'date_input','name':'date','value':''}}).label(false)|raw}}

                    </li>
                    <li class="clearfix">
                        <label>联系电话:</label>
                        {{ form.field(model,'tell',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).label(false)|raw}}
                    </li>
                    <li class="clearfix">
                        <label>部门:</label>
                        {{ form.field(model,'department',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).dropDownList(model.getCanChoseDepartment(),{'id':'level_one', 'onchange':"car_type_search(this,'level_two','level_three','level_four','2')"}).label(false)|raw}}
                    </li>
                    <li class="clearfix">
                        <label>组别:</label>
                        {{ form.field(model,'category',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).dropDownList(model.getDefaultCategory(),{'id':'level_two', 'onchange':"car_type_search(this,'level_three','level_four','','3')"}).label(false)|raw}}
                    </li>
                    <li class="clearfix">
                        <label>一级产品线:</label>
                        {{ form.field(model,'product_line',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).dropDownList(model.getDefaultProductLine(),{'id':'level_three', 'onchange':"car_type_search(this,'level_four','','','4')"}).label(false)|raw}}
                    </li>
                    <li class="clearfix">
                        <label>二级产品线:</label>
                        {{ form.field(model,'product_two_line',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).dropDownList(model.getDefaultProductTwoLine(),{'id':'level_four'}).label(false)|raw}}
                    </li>
                    <li class="clearfix">
                        <label>是否管理员:</label>
                        {{ form.field(model,'big_owner',{'template':"{label}\n{input}\n{hint}\n{error}",'options':{'class':'item'},inputOptions:{'class':''}}).dropDownList({'0':'否','1':'是'}).label(false)|raw}}
                    </li>
                </ul>
                 <div class="form_submit">
                    <input type="submit" value="确定" class="form_btn" name="">
                    </div>
            {{ void(form.end) }}
        </div>
    </div>
</div>
<script>
    function car_type_search(select_obj,first_dom_id,second_dom_id,third_dom_id,level){
  var $base_select = $(select_obj);
  var position = $base_select.offset();
  var $select1 = $("#"+first_dom_id);
  $select1.find("option:not(:first)").remove();
  if (second_dom_id != ""){
    var $select2 = $("#"+second_dom_id);
    $select2.find("option:not(:first)").remove();
  }
  if (third_dom_id != ""){
    var $select3 = $("#"+third_dom_id);
    $select3.find("option:not(:first)").remove();
  }
  if ($base_select.val() != ""){
    $.getJSON('/owner/category?id='+ $base_select.val() +'&level='+level,function(data){
        var option_html = "<option value=''>请选择</option>";
        $.each(data,function(entryIndex,entry){
          if(level == 2){

            option_html += "<option value='"+entry.id+"'>" + entry.name+"</option>";
          }else if(level == 3 || level == 4){
            option_html += "<option value='"+entry.id+"'>"+entry.name+"</option>";
          }
        });
      $select1.html(option_html);
    });
  }
}
</script>
{% endblock %}